---

---

<!-- <section id="" class="relative ps-[230px] pt-5">
  <div class="capa2 "></div>
  <div class="h-[60vh] relative ">
    <img class=" h-full w-auto absolute -left-[100px]" src="/images/artificialbot.png" alt="artificilabot " />
    <div
      class="flex flex-col gap-8 w-[600px] absolute top-[80px] right-[230px]"
    >
      <span class="text-blue uppercase"> ABOUT US</span>
      <h1 class="text-5xl font-bold">
        We Bring <span class="text-blue">Creative</span> ideas to life.
      </h1>
      <div class="h-[2px] w-[100px] bg-blue"></div>
      <span class="text-blue"> We love Creating</span>
      <p>
        Lorem ipsumNeque porro quisquam est qui do lorem ipsum quia dolor sit
        amet, Neque porro elit NeDque porro Lorem ipsum Neque porro Neque porro
      </p>
      <p>
        Neque porro quisquam est qui do lorem ipsum quia dolor sit amet, Lorem
        ipsum Neque quis ipsum
      </p>
      <button class="p-2 tracking-[4px] border-blue border-2 w-[200px] z-10">
        Read More</button
      >
    </div>
  </div>
</section> -->
<section class="h-[70vh] relative">
  <div class="capaa"></div>
  <div class="containerr h-full flex items-center pt-[50px]">
    <picture>
      <img
        class="absolute top-0 left-[0px] z-0 h-full w-auto object-contain"
        src="/images/artificialbot.png"
        alt="beautiful-woman"
      />
    </picture>
    <div
      class="flex flex-col gap-8 w-[600px] absolute top-[80px] right-[230px]"
    >
      <span class="text-blue uppercase"> ABOUT US</span>
      <h1 class="text-5xl font-bold">
        We Bring <span class="text-blue">Creative</span> ideas to life.
      </h1>
      <div class="h-[2px] w-[100px] bg-blue"></div>
      <span class="text-blue"> We love Creating</span>
      <p>
        Lorem ipsumNeque porro quisquam est qui do lorem ipsum quia dolor sit
        amet, Neque porro elit NeDque porro Lorem ipsum Neque porro Neque porro
      </p>
      <p>
        Neque porro quisquam est qui do lorem ipsum quia dolor sit amet, Lorem
        ipsum Neque quis ipsum
      </p>
      <button class="p-2 tracking-[4px] border-blue border-2 w-[200px] z-10">
        Read More</button
      >
    </div>
  </div>
</section>
