---

---

<section
  id="About Us"
  class="lg:h-[70vh] flex lg:flex-row flex-col items-center w-full lg:relative containerr p-10 lg:px-[200px]"
>
  <img
    class="lg:absolute lg:-left-0 object-cover h-full order-2"
    src="/images/artificialbot.png"
    alt="artificialbot.png"
  />
  <div
    class="lg:absolute lg:right-[150px] flex flex-col gap-8 lg:w-[600px] text-center lg:text-start  order-1"
  >
    <span class="text-blue uppercase"> ABOUT US</span>
    <h1 class="text-5xl font-bold">
      We Bring <span class="text-blue">Creative</span> ideas to life.
    </h1>
    <div class="h-[2px] w-[100px] bg-blue self-center lg:self-start"></div>
    <span class="text-blue"> We love Creating</span>
    <p>
      Lorem ipsumNeque porro quisquam est qui do lorem ipsum quia dolor sit
      amet, Neque porro elit NeDque porro Lorem ipsum Neque porro Neque porro
    </p>
    <p>
      Neque porro quisquam est qui do lorem ipsum quia dolor sit amet, Lorem
      ipsum Neque quis ipsum
    </p>
    <button class="p-2 tracking-[4px] border-blue border-2 w-[200px] z-10 self-center lg:self-start">
      Read More</button
    >
  </div>
</section>
