---
import banner from "../json/banner.json";
---

<section
  class="bg-gradient-to-tr from-slate-900 to-black paddingX" 
>
  <div class="containerr flex lg:flex-row flex-col   gap-10 text-center lg:text-start lg:gap-5 justify-around  py-[40px] ">
    {
      banner.map((e) => (
        <div class="flex flex-col gap-2 items-center justify-center ">
          <img src={e.icons} alt={e.title} />
          <h1 class="text-5xl font-bold ">{e.number}+</h1>
          <p class="text-blue">{e.title}</p>
        </div>
      ))
    }
  </div>
</section>
