---
const { title } = Astro.props;
---

<button class="p-2 tracking-[4px] border-blue border-2 w-[200px] z-10  hover:scale-110 duration-200 ease-in-out transition-all self-center lg:self-start">
  {title}
</button>
