---

---

<section class="">
  <div class="containerr p-[100px] flex justify-center gap-[200px]">
    <div class="w-[400px] flex flex-col gap-[40px]">
      <h1 class="text-5xl">GET IN <span class="text-blue">TOUCH</span></h1>
      <div class="h-[2px] w-[100px] bg-blue"></div>
      <p>
        Lorem ipsum Neque porro quisquam est qui do lorem ipsum quia dolor sit
        amet, Neque porro elit NeDque porro
      </p>
      <ul class="flex flex-col gap-5">
        <li class="flex items-center gap-5">
          <img src="icons/direction.png" alt="direction icon" />
          <div class="flex flex-col">
            <h1>Office Address</h1>
            <h2>98, Arca St, PR City, 33414 , Indonesia</h2>
          </div>
        </li>
        <li class="flex items-center gap-5">
          <img src="icons/phone.png" alt="direction icon" />
          <div class="flex flex-col">
            <h1>Call Us</h1>
            <h2>(+BK) 123 456 7891</h2>
          </div>
        </li>
        <li class="flex items-center gap-5">
          <img src="icons/gmail.png" alt="direction icon" />
          <div class="flex flex-col">
            <h1>Mail Us</h1>
            <h2>info@creaticagency.com</h2>
          </div>
        </li>
      </ul>
    </div>
    <form class="rounded-xl gradiant flex flex-col gap-5 p-[30px] w-2/6">
      <label for=""> Your Name</label>
      <input
        type="text"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
      <label for=""> Your Email</label>
      <input
        type="text"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />

      <label
        for="message"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Your message</label
      >
      <textarea
        id="message"
        rows="4"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Leave a comment..."></textarea>
        <button class="bg-blue p-2 tracking-tight text-black w-[200px] self-center font-semibold">SEND MESSAGE</button>
    </form>
  </div>
</section>
