---

---

<section id="Home" class="lg:h-[70vh] flex flex-col lg:flex-row items-center w-full md:relative containerr lg:p-[200px] p-10 ">
  <img
    class="lg:absolute lg:-right-[100px] object-cover h-full order-2 "
    src="/images/beautiful-woman.jpg"
    alt="beautiful-woman image"
  />

  <div class="lg:absolute flex flex-col gap-8 lg:w-[600px]   order-1 text-center lg:text-start ">
    <span class="text-blue uppercase"> Welcome to creatic</span>
    <h1 class="text-6xl font-bold">
      WE ARE <span class="text-blue">CREATIVE</span> DESIGN AGENCY
    </h1>
    <div class="h-[2px] w-[100px] bg-blue self-center lg:self-start"></div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid earum
      itaque consequuntur, eos facilis deleniti perspiciatis quasi libero sit
      ea.
    </p>
    <button  class="p-2 tracking-[4px] border-blue border-2 w-[200px] z-10 self-center lg:self-start">
      GET IN TOUCH</button
    >
  </div>
</section>
