---

---

<!-- <section class="relative h-[70vh] ">
  <div class="">
    <div class="h-full containerr overflow-hidden ">
      <div class="flex flex-col gap-8 w-[600px] absolute top-[80px] z-10">
        <span class="text-blue uppercase"> Welcome to creatic</span>
        <h1 class="text-6xl font-bold">
          WE ARE <span class="text-blue">CREATIVE</span> DESIGN AGENCY
        </h1>
        <div class="h-[2px] w-[100px] bg-blue"></div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid earum
          itaque consequuntur, eos facilis deleniti perspiciatis quasi libero
          sit ea.
        </p>
        <button class="p-2 tracking-[4px] border-blue border-2 w-[200px] z-10">
          GET IN TOUCH</button
        >
      </div>
      <img
        class="absolute top-0 right-0 z-0 h-full object-contain"
        src="/images/beautiful-woman.jpg"
        alt="beautiful-woman"
      />
    </div>
  </div>
</section> -->
<section class="h-[70vh] relative">
  <div class="capa"></div>
  <div class="containerr h-full  flex   items-center pt-[50px]">
    <div class="flex flex-col gap-8 w-[600px] ">
      <span class="text-blue uppercase"> Welcome to creatic</span>
      <h1 class="text-6xl font-bold">
        WE ARE <span class="text-blue">CREATIVE</span> DESIGN AGENCY
      </h1>
      <div class="h-[2px] w-[100px] bg-blue"></div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid earum
        itaque consequuntur, eos facilis deleniti perspiciatis quasi libero sit
        ea.
      </p>
      <button class="p-2 tracking-[4px] border-blue border-2 w-[200px] z-10">
        GET IN TOUCH</button
      >
    </div>
    <picture>
      <img
        class="absolute top-0 right-[0px] z-0 h-full  w-auto object-contain"
        src="/images/beautiful-woman.jpg"
        alt="beautiful-woman"
      />
    </picture>
  </div>
</section>
