---

---

<section
  class="lg:px-[200px] lg:h-[60vh] containerr flex lg:flex-row flex-col justify-between gap-5 lg:gap-6   py-[100px] "
>
  <div class="flex flex-col gap-8 text-center lg:text-start  ">
    <span class="text-blue uppercase"> Why Us?</span>
    <div class="h-[2px] w-[100px] bg-blue self-center lg:self-start"></div>
    <h1 class="text-5xl font-bold uppercase">
      25 years of <span class="text-blue">experience</span> as a creative agency
    </h1>

    <button class="p-2 tracking-[4px] border-blue border-2 w-[200px] z-10 self-center lg:self-start">
      Read More</button
    >
  </div>
  <div class="flex flex-col  gap-8">
    <p class="lg:mt-[100px]">
      Lorem ipsum Neque porro quisquam est qui do lorem ipsum quia dolor sit
      amet, Neque porro elit NeDque porro Lorem ipsum
    </p>
    <ul class="flex flex-col gap-3 ">
      <li class="flex gap-2 items-center">
        <img src="/icons/check.png" alt="check icon" />
        <span>Happy Customer</span>
      </li>
      <li class="flex gap-2 items-center">
        <img src="/icons/check.png" alt="check icon" />
        <span>Experienced Team</span>
      </li>
      <li class="flex gap-2 items-center">
        <img src="/icons/check.png" alt="check icon" />
        <span>Modern Technology</span>
      </li>
    </ul>
  </div>
</section>
