---

---

<section id="" class="">
  <div
    class="h-[60vh] containerr flex justify-between gap-[150px] items-center"
  >
    <div class="flex flex-col gap-8 w-[1000px]">
      <span class="text-blue uppercase"> Why Us?</span>
      <div class="h-[2px] w-[100px] bg-blue"></div>
      <h1 class="text-5xl font-bold uppercase">
        25 years of <span class="text-blue">experience</span> as a creative agency
      </h1>

      <button class="p-2 tracking-[4px] border-blue border-2 w-[200px] z-10">
        Read More</button
      >
    </div>
    <div class="flex flex-col gap-8">
      <p>
        Lorem ipsum Neque porro quisquam est qui do lorem ipsum quia dolor sit
        amet, Neque porro elit NeDque porro Lorem ipsum
      </p>
      <ul class="flex flex-col gap-3">
        <li class="flex gap-2 items-center">
          <img src="/icons/check.png" alt="check icon" />
          <span>Happy Customer</span>
        </li>
        <li class="flex gap-2 items-center">
          <img src="/icons/check.png" alt="check icon" />
          <span>Experienced Team</span>
        </li>
        <li class="flex gap-2 items-center">
          <img src="/icons/check.png" alt="check icon" />
          <span>Modern Technology</span>
        </li>
      </ul>
    </div>
  </div>
</section>
